@model IEnumerable<PUDInspection.ViewModels.InspectorListViewModel>

@{
    ViewData["Title"] = "Список проверок";
    string user_id = TempData["userId"].ToString();
}
    <h1>Список Ваших проверок</h1>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Название : @item.InspectionName
            </div>
            <div class="card-body">
                <a class="card-title">Даты проведения: @item.StartDate - @item.EndDate</a>
            </div>
            <div class="card-body">
                <a class="card-title">Этап: @item.CurrentIteration / @item.IterationNumber</a>
            </div>
            @if (item.Hunt)
            {
                <div class="card-body">
                    <a class="card-title">Объявлена охота</a>
                </div>
            }
            <div class="card-footer">
                <a asp-action="Details" asp-route-id="@item.InspectionId" class="btn btn-primary">Обзор</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Вы не прикреплены ни к одной проверке
        </div>
        <div class="card-body">
            <h5 class="card-title">
                На данный момент у Вас нет ни одной активной проверки. Если так быть не должно - обратитесь к руководителям проверки.
            </h5>
        </div>
    </div>
}