@model PUDInspection.Models.Inspection

@{
    ViewData["Title"] = "Удаление проверки " + Model.Name;
}

<h1>Удаление проверки @Model.Name</h1>

<h3>Вы уверены, что хотите удалить данную проверку?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IterationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IterationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentIteration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentIteration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hunt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hunt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.InspectionSpace.Id">Вернуться к списку проверок</a>
    </form>
</div>
