@model List<PUDInspection.ViewModels.CriteriasInspectionViewModel>

@{
    var inspId = ViewBag.inspId;
    ViewBag.Title = "Добавить или удалить критерии";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Добавить или удалить критерии</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].CriteriaId" />
                    <input type="hidden" asp-for="@Model[i].Name" />
                    <input type="hidden" asp-for="@Model[i].Description" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].Name
                    </label>
                    <label class="control-label" asp-for="@Model[i].Description">
                        @Model[i].Description
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Обновить" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="Edit" asp-route-id="@inspId"
               class="btn btn-primary" style="width:auto">Отмена</a>
        </div>
    </div>
</form>