@model IEnumerable<PUDInspection.Models.Inspection>

@{
    ViewData["Title"] = "Список проверок";
    int space_id = Convert.ToInt32(TempData["InspSpaceID"]);
}
@if (Model.Count() == 0)
{
    <h1>Список проверок</h1>
}
else
{
    <h1>Список проверок из @Model.First().InspectionSpace.Name</h1>
}
<a class="btn btn-primary mb-3" style="width:auto"  asp-action="GoToInspectionSpace" asp-route-id="@space_id">Назад к пространству проверок</a>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" asp-route-id="@space_id">Создать проверку</a>

    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Название : @item.Name
            </div>
            <div class="card-body">
                @if (item.Closed)
                {
                    <a class="card-title">Проверка окончена</a>
                }
                else
                {
                    @if (item.Started && item.CurrentIteration > 0)
                    {
                        <a class="card-title">Активна</a>
                    }
                    else if (item.Started && item.CurrentIteration == 0 || !item.Started && item.CurrentIteration > 0)
                    {
                        <a class="card-title">Ведется распределение ПУД, скоро откроется</a>
                    }
                    else
                    {
                        <a class="card-title">Ожидает начала</a>
                    }
                }
            </div>
            <div class="card-body">
                <a class="card-title">Даты проведения: @item.StartDate - @item.EndDate</a>
            </div>
            <div class="card-body">
                <a class="card-title">Этап: @item.CurrentIteration / @item.IterationNumber</a>
            </div>
            @if (item.Hunt)
            {
                <div class="card-body">
                    <a class="card-title">Объявлена охота</a>
                </div>
            }
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Обзор</a>
            @if (item.CurrentIteration >= item.IterationNumber && !item.Closed)
            {

                <form asp-action="Close" asp-route-id="@item.Id" asp-route-spaceId="@item.InspectionSpace.Id">
                    <input type="hidden" asp-for="@item.Id" />
                    <input type="submit" value="Закончить проверку" class="btn btn-primary" />
                </form>
            }
            else if (!item.Started && item.CurrentIteration == 0)
            {
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Удалить</a>
                <form asp-action="Open" asp-route-id="@item.Id" asp-route-spaceId="@item.InspectionSpace.Id">
                    <input type="hidden" asp-for="@item.Id" />
                    <input type="submit" value="Запустить проверку" class="btn btn-primary" />
                </form>
            }
            @if (item.Started && !item.Closed && !(item.CurrentIteration == item.IterationNumber || item.CurrentIteration == 0))
            {
                <form asp-action="Iteration" asp-route-id="@item.Id" asp-route-spaceId="@item.InspectionSpace.Id">
                    <input type="hidden" asp-for="@item.Id" />
                    <input type="submit" value="Запустить следующий этап проверки" class="btn btn-primary" />
                </form>
            }
        </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Не создано ни одной проверки
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Для создания пространства нажмите на кнопку
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-action="Create" asp-route-id="@space_id">
                Создать проверку
            </a>
        </div>
    </div>
}
